form {
	padding-left: 20%;
	background-color: #6E963B;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0;
}

form p {
	color: black;
	margin: 0 0 20px;
}

form input {
	/* "no file chosen" should be white but is grey b/c of input*/
	color: black;
}

textarea {
	color: black;
}

::placeholder {
  color: #B6B1A9;
}

#pic-upload {
	float: right;
	padding-right: 20%;
}

#eventName {
	width: 50%;
}

#description {
	width: 50%;
	height: 100px;
}

#long-description {
	width: 50%;
	height: 200px;
}

#tags {
	width: 50%;
	height: 50px;
}

/* necessary?
#submit {
	color: black;
} */

/*stretch goal to make submit button same color as upcoming events tab*/
/* .submitButton {
	same as my events
  background-color: #00C6D7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */
