
#pageHeader {
	padding-left: 10%;
	max-width: 100%;
	height: 30%;
	margin: 0;
	background-color: white;
}

/*added to make page content in line with header*/
#pgContent {
	padding-left: 10%;
}

.up {
	background-color: #FFCD00;
}

.index {
	background-color: #00C6D7;
}

.event {
	background-color: white;
}